.moshaf { float: left; }

.shikh { 
    float: none;
    width: 500px ;
}


.tab-pane{
    font-size: 20px;
    margin-top:80px;
    margin-left: 0px;
    margin-right: 10px;
  height:775px;
  overflow-y:scroll;
  width:99%;
}


.icon{
    height: 50px;
    width: 50px;
}

.wrapper{
    width: 100%;
    padding: 0 10px;
}


    footer{
    font-size: 18px;
    background: dodgerblue;
    margin-top: 300px;
    padding: 30px 0;
    padding-left: 30px;
}

        ul:after{
    content: "";
    clear: both;
    display: block;
}
footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding: 0;
    list-style-type: none;
    color: #eee;
    width: 23%;
    margin-right: 1%;
}

footer li{
    margin: 10px 0;
}

footer a{
    color: #eee;
    text-decoration: none;
}
#p {
         position: relative; 
         width: 30%; 
    }


@media screen and (max-width:650px) {
    footer ul {
        width: 98%;
    }

    #p {
        position: relative;
        width: 40%;
    }
                
}
